html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}body {line-height: 1;}ol, ul {list-style: none;}blockquote, q {quotes: none;}blockquote:before, blockquote:after, q:before, q:after {content: '';content: none;}table {border-collapse: collapse;border-spacing: 0;}
.cf:before,.cf:after {content: " ";display: table;}.cf:after {clear: both;}.cf { zoom: 1;}

body {
    background-image: url("aset/footer_lodyas.png");
    height: 1000px;
}

.header-container {
    /* background-color: rgb(59, 167, 255); */
    /* border: 5px solid rgb(179, 21, 0); */
    
    box-sizing: border-box;
    margin: auto;
    border-radius: 6px;
    height: 90px;
    width: 1020px;
    margin-bottom: 20px;
    background-image: linear-gradient(to top, rgb(228, 28, 28) 50%, rgb(88, 2, 2));
    /* background-image: radial-gradient(red 50%, rgb(40, 0, 0)); */
}
.header-container h2 {
    place-items: center;
    display: grid;
    font-size: 40px;
    padding-top: 20px;
    text-shadow: 0 -4px 5px rgb(37, 32, 32);
}

.content {
    border: 2px solid red;
    margin: auto;
    width: 800px;
    height: 1000px;
    border-radius: 10px;
    background-color: rgba(155, 148, 148, 0.219);
}

.c-top {
    width: 100%;
}

.cover-container {
    box-sizing: border-box;
    float: left;
    width: 280px;
    padding: 18px;
    height: 395.483px;
    padding-bottom: 8px;
}

.cover-container img {
    border: 2.5px solid red;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    transition: .5s;
}
.cover-container img:hover {
    transform: scale(1.03);
    border: 2.5px solid rgb(112, 0, 0);
}

.sinopsis {
    /* background-color: aqua; */
    /* letter-spacing: 1.5px; */
    border-bottom: 2px solid red;
    color: #ffffff;
    padding: 15px;
    font-size: 18px;
    word-spacing: 2px;
    line-height: 27px;
    padding-top: 20px;
}

.sinopsis strong {
    margin-left: 20px;
}


.vol-1-img {
    border: 2px solid red;
    box-sizing: border-box;
    float: right;
    width: 280px;
    height: 395.483px;
    /* border-bottom-left-radius: 10px; */
}

.vol-1-img img {
    width: 100%;
    height: 100%;
    /* border-bottom-left-radius: 10px; */
}

.link {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    /* border-bottom-right-radius: 10px; */
    width: 65%;
    padding: 10px;
    font-size: 15px;
    line-height: 23px;
    height: 395.483px;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.315);
}

/* img {
    display: none;
} */