html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}body {line-height: 1;}ol, ul {list-style: none;}blockquote, q {quotes: none;}blockquote:before, blockquote:after, q:before, q:after {content: '';content: none;}table {border-collapse: collapse;border-spacing: 0;}
.cf:before,.cf:after {content: " ";display: table;}.cf:after {clear: both;}.cf { zoom: 1;}

body {
    background-image: url("aset/footer_lodyas.png");
    font-family: Arial, Helvetica, sans-serif;
}

header {    
    box-sizing: border-box;
    margin: auto;
    height: 90px;
    width: 1020px;
    margin-bottom: 20px;
    background-image: linear-gradient(to top, rgb(228, 28, 28) 50%, rgb(88, 2, 2));
    /* background-image: radial-gradient(red 50%, rgb(40, 0, 0)); */
}
header h2 {
    place-items: center;
    display: grid;
    font-size: 40px;
    padding-top: 20px;
    text-shadow: 0 -4px 5px rgb(37, 32, 32);
}

main {
    border-collapse: collapse;
    border: 2px solid red;
    margin: auto;
    width: 800px;
    border-radius: 10px;
    background-color: rgba(155, 148, 148, 0.219);
}

.c-top { width: 100%; }

.cover-container {
    box-sizing: border-box;
    float: left;
    width: 280px;
    padding: 18px;
    height: 395.483px;
    padding-bottom: 8px;
}

.cover-container img {
    border: 2.5px solid red;
    width: 100%;
    height: 100%;
    transition: .1s;
    border-radius: 8px;
}
.cover-container img:hover {
    transform: scale(1.03);
    border-color: rgb(112, 0, 0);
}

.sinopsis {
    color: #ffffff;
    padding: 15px;
    font-size: 18px;
    word-spacing: 2px;
    line-height: 27px;
    padding-top: 20px;
}

.sinopsis strong { margin-left: 20px; }

.volume { border-top: 2px solid red; }

.vol-img {
    border-left: 2px solid red;
    box-sizing: border-box;
    float: right;
    width: 280px;
    transition: 1s;
    height: 395.483px;
}

.vol-img img {
    width: 100%;
    height: 100%;
}

.last-volume img, .last-volume .vol-img { border-bottom-right-radius: 10px; }

.vol-img1:hover { border-left: 2px solid rgb(0, 15, 46); }
.vol-img2:hover { border-left: 2px solid rgb(0, 53, 0);  }
.vol-img3:hover { border-left: 2px solid rgb(46, 0, 131);}
.vol-img4:hover { border-left: 2px solid rgb(0, 44, 40); }
.vol-img5:hover { border-left: 2px solid rgb(99, 4, 70); }

a, a:visited, a:active {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.link {
    box-sizing: border-box;
    width: 65%;
    padding: 10px;
    font-size: 15px;
    line-height: 38px;
    height: 395.483px;
    background-color: rgba(0, 0, 0, 0.062);
}

.link a:hover {
    transition: .3s;
    font-size: 15.3px;
}

.lk1 a:hover { color: rgb(0, 47, 201) ; }
.lk2 a:hover {
    color: rgb(25, 207, 35);
    font-size: 15.14px;
}
.lk3 a:hover { color: rgb(60, 0, 172) ; }
.lk4 a:hover { color: rgb(0, 163, 150); }
.lk5 a:hover { color: rgb(214, 0, 168); }

.lk2 { line-height: 35px; }
.lk3 { line-height: 35px; }
.lk4 { line-height: 43px; }
.lk5 { line-height: 52px; }

footer {
    padding: 10px;
    padding-top: 0;
    color: black;
    margin-top: 80px;
    text-align: center;
    border-top: 2px solid red;
    background-color: rgb(61, 61, 61);
}

.thanks {
    width: 30vmax;
    margin: auto;
    font-size: 30px;
    background-color: #eaeaea;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.wpu img {
    border-radius: 50%;
    padding: 20px;
}

.wpu .name {
    width: 25vmax;
    margin: auto;
    font-size: 30px;
    background-color: #eaeaea;
    border-radius: 20px;
}